h1 {
    color: #e7e9dc;
    margin-left: auto;
    margin-right: auto;
}

a {
    box-shadow: inset 0 0 0 0 #272927;
    color: #e7e9dc;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    font-size: 18px;
}

    a:hover {
        color: #108210;
        box-shadow: inset 330px 0 0 0 #272927;
    }

h3 {
    color: #e7e9dc;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", "Helvetice", "Neue", Arial, Helvetica, sans-serif;
}

.background-image {
}

.background {
    background-image: url('./background/dark.jpg');
    background-size: cover;
    height: 100%;
    overflow-y: scroll;
}


li {
    list-style: none;
}

.welcome-content {
    width: 100%;
    margin: 0%;
}

.list-group-item {
    margin-left: 0;
    margin-right: 0;
    outline: 1px solid white;
    height: 25px;
    width: 80%;
    color: #eeeeee;
    padding: 2%;
}
.list-group-item > div > .widget-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;
}

.widget-body {
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;

}

.list-group {
    display: flex;
    flex-direction:column;
}

.header-section {
    display: flex;
    align-items: flex-start;
    grid-area: auto;
    width: 80%;
}

.welcome-message {
    font-size: 64px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    position: relative;
}


